
.container {
    max-width: 1024px;
    margin: auto;
}



.btn_primary {
    padding: 10px;
    background-color: $blue;
    color: white;
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    text-transform: capitalize;
}

.btn_secondary {
    padding: 10px;
    background-color: $blue;
    color: white;
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
    border: 1px solid white;
    margin-top: 10px;
    cursor: pointer;
    text-transform: capitalize;
}