//
@import "partials/_variables";
@import "partials/_commons";
@import "partials/_mainComics";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.top-line {
    background-color: $blue;
    color: white;
    .container {
        display: flex;
        justify-content: flex-end;
        p {
            margin: 5px 0 5px 30px;
            text-transform: uppercase;
            font-size: 12px;
        }
    }
}

nav {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .box-img {
            width: 50px;
            height: 50px;
            a {
                display: block;
                width: 100%;
                height: 100%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
        ul {
            li {
                display: inline-block;
                padding: 25px 8px;
                border-bottom: 3px solid transparent;

                &.active {
                    border-bottom: 3px solid $blue;
                }
                &:hover {
                    border-bottom: 3px solid $blue;

                    & a {
                        color: $blue;
                    }
                }
                a {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    color: rgb(96,71,71);
                    font-weight: 400;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 14px;
                    i {
                        color: $blue;
                    }
                }
            }
        }
        .box-input {
            position: relative;
            input {
                width: 100%;
                border: none;
                outline: none;
                border-bottom: 2px solid $blue;
            }
            i {
                position: absolute;
                right: 0;
                cursor: pointer;
            }

        }
    }
}

.hero {
    height: 320px;
    .box-img {
        height: 100%;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }
}

.comics.home {
    .container{
        .container-card {
            justify-content: space-evenly;
            
        }
        .paginate {
            padding-top: 20px;
            ul {
                list-style: none;
                text-align: center;
                .page-item {
                    display: inline-block;
                    padding: 10px;
                    border: 2px solid white;
                    a {
                        color: white;
                        text-decoration: none;
                        padding: 10px;
                    }
                    &.active {
                        border-color: $blue;
                        .page-link {
                            color: $blue;
                            text-decoration: none;
                            padding: 10px;
                        }
                    }
                    &.disable {
                        visibility: hidden;
                    }
                    
                }
        
        
            }
        
        }
        
        
        
        
    }
}

.comics {
    background-color: rgb(28,28,28);
    .container {
        position: relative;
        padding: 20px 0;
        .container-card {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
        .card {
            a {
                display: block;
                width: 100%;
                height: 100%;
                color: white;
                text-decoration: none;
            }
            margin: 30px 5px 0 5px;
            width: calc((100% / 6) - 10px);
            .box-img {
                width: 100%;
                height: 160px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top;
                }
            }
            h5 {
                margin-top: 10px;
            }
        }
        h3 {
            position: absolute;
            padding: 10px 20px;
            background-color: $blue;
            top: -20px;
            color: white;
        }
        .container_btn {
            text-align: center;
            margin-top: 15px;
        }
        
    }
}

.ecommerce {
    background-color: $blue;
    .container {
        padding: 30px 0;
        display: flex;
        justify-content: space-evenly;
        .box {
            width: calc(100% / 5 - 20px);
            display: flex;
            align-items: center;
            justify-content: center;
            .box-img {
                width: 30%;
                height: 60px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: center;
                }
            }
            h4 {
                font-size: 11px;
                color: white;
                margin-left: 10px;
            }
            
        }
    }
}

footer {
    .top-footer {
        background-image: url("/images/footer-bg.jpg");
        .container {
            position: relative;
            padding: 20px 0;
            overflow: hidden;
            .container-list {
                width: 50%;
                display: flex;
                h3 {
                    color: white;
                }
                ul {
                    margin: 10px 0;
                    list-style: none;
                    li {
                        a {
                            display: inline-block;
                            padding: 4px 0;
                            text-decoration: none;
                            color: rgb(163, 154, 154);
                            font-size: 10px;
                        }
                    }
                }
                .box-list {
                    margin-right: 30px;
                }
            }
            p {
                width: 50%;
                color: rgb(163, 154, 154);
                font-size: 10px;

            }
            .box-img {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 450px;
                height: 450px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .bot-footer {
        background-color: rgb(56, 48, 48);
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 0;
            button {
                color: white;
                border: 2px solid $blue;
                background-color: transparent;
                padding: 10px;
                cursor: pointer;
            }
            .container-social {
                display: flex;
                align-items: center;
                
                h4 {
                    color: $blue;
                }

                ul {
                    list-style: none;
                    margin-left: 10px;
                    li {
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        margin-left: 10px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}

.form {
    background-color: $blue;
    border-bottom: 1px solid white;
    padding: 20px 0;
    .container {
        text-align: center;
        h3 {
            margin-top: 15px;
        }
        input {
            outline: none;
            padding: 5px;
        }
    }
}

